
name: Build, test, package

on:
  release:
    types: [published]
  push:
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  python-build-workflow:
    uses: ./.github/workflows/build-test-package-python.yml
    with:
      test-notebooks: false
      github-event-name: ${{ github.event_name }}
      github-ref: ${{ github.ref }}

